# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Project specific
faces_imgs/
photos/
key
key.pub
local.db
database/local.db 

# Keep cascades XML files
!cascades/
!cascades/*.xml

# PyInstaller files
build/
dist/
*.spec

# IDE files (optionnel)
.vscode/
.idea/
cascades/
build_camera.spec
build_recognition.spec

